/* Baner */
main .container .baner .introducing {
  width: 470px;
  margin-top: 100px;
}

main .container .baner .introducing small {
  color: $light-blue-color;
  font-size: 14px;
  text-transform: uppercase;
}

main .container .baner .introducing h2 {
  color: $white-color;
  font-size: 24px;
  margin: 20px 0;
}

main .container .baner .introducing p {
  color: $light-gray-color;
}

main .container .baner .buttons {
  margin-top: 60px;
  display: flex;
}

main .container .baner .buttons button {
  margin-right: 15px;
}

main .container .baner .buttons .btn.btn-primary {
  background-color: $light-blue-color;
  font-size: 14px;
}

main .container .baner .buttons .btn-outline-dark {
  color: $white-color;
  font-size: 14px;
}

main .container .baner .buttons .btn.btn-primary, 
main .container .baner .buttons .btn-outline-dark {
  padding: 1.0rem 2.3rem;
}