/* Adaptive */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 730px) {
  .first-block .wrapper-content {
    #header .header-content .container .nav-menu {
      position: relative;

      .nav-item {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        background: #000000;
        padding: 60px 20px 20px;
        flex-direction: column;
        transition: right 0.3s ease-in-out;

        &.active {
          display: flex;
          right: 0;
          height: 100vh;
        }

        .menu-list {
          flex-direction: column;
          align-items: flex-end;
          width: 100%;

          li {
            margin: 10px 0;
            width: 100%;
            text-align: center;
          }
        }

        .menu-link {
          font-size: 24px;
          padding: 10px 0;
        }
      }

      .burger-menu {
        display: block;
        z-index: 1000;

        .burger-icon.active {
          span {
            &:nth-child(1) {
              top: 8px;
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              top: 8px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    .banner {
      text-align: center;
      @include flex(column, center);

      .container {
        .buttons {
          margin-top: 30px;
          justify-content: center;

          .btn.btn-primary,
          .btn-outline-dark {
            padding: 15px 5px;
          }
        }

        .introducing {
          width: auto;
        }
      }
    }
  }

  main .products .wrapper-content .container .row {
    flex-direction: column;
    align-items: center;

    &.items .col-3 {
      max-width: 50%;
      margin-top: 30px;
    }

    .feature-line-container {
      margin-bottom: 20px;
    }
  }
}

@media screen and (height: 600px) {
  .first-block .wrapper-content .banner .container .buttons {
    margin-top: 5px;
  }
}

@media screen and (max-width: 490px) {
  .first-block .wrapper-content .banner .container .introducing h2 {
    font-size: 24px;
  }

  .first-block .wrapper-content .banner .container .introducing p {
    font-size: 20px;
  }
}