/* Banner styles */
.first-block .wrapper-content .banner {
  margin: 0;
  padding: 0 15px;

  .introducing {
    width: 600px;

    small {
      @include text-style($font-size-medium, bold, uppercase, $light-blue-color);
    }

    h2 {
      @include text-style(48px, $color: $white-color);
      margin: 20px 0;
    }

    p {
      @include text-style(24px, $color: $light-gray-color);
    }
  }

  .container .buttons {
    margin-top: 60px;
    display: flex;

    button {
      margin-right: 15px;
    }

    .btn.btn-primary {
      background-color: $light-blue-color;
      font-size: $font-size-medium;
    }

    .btn-outline-dark {
      @include text-style($font-size-medium, $color: $white-color);
    }

    .btn.btn-primary,
    .btn-outline-dark {
      padding: 1.0rem 2.3rem;
    }
  }
}