/* Product styles */
main {
  .products {
    .wrapper-content {
      padding: 0;
      width: 100%;
    }

    .products-content {
      padding-top: 65px !important;
    }

    .wrapper-content .container .row {
      text-align: center;
      width: 100%;

      h2 {
        @include text-style(14px, bold, uppercase, $light-blue-color);
      }

      p {
        @include text-style(36px, 600, $color: $black-color);
      }

      &:hover {
        .feature-line-container .feature-line {
          transform: scaleX(1);
        }
      }

      .feature-line-container {
        @include flex($align-items: center, $justify-content: center);
        width: 100%;
        margin: 40px 0 80px 0;

        .feature-line {
          width: 25px;
          height: 2px;
          background-color: #00BFFF;
          margin: 0 2px;
          transform: scaleX(0);
          transition: transform 0.3s ease;

          &:first-child {
            transform-origin: left center;
          }

          &:last-child {
            transform-origin: right center;
          }
        }
      }
    }

    .wrapper-content .container .row.items .col-3 {
      p {
        @include text-style(24px, $color: $black-color);
      }

      small {
        @include text-style(18px, $color: $light-gray-color);
      }

      .circle {
        @include flex($align-items: center, $justify-content: center);
        width: 100px;
        height: 100px;
        border: 2px solid #ededed;
        border-radius: 50%;
        margin: 0 auto;

        &:hover {
          border: 2px solid $light-blue-color;
        }
      }
    }
  }
}