.first-block .wrapper-content #header {
  position: fixed;
  width: 100%;
  padding: 45px 0;

  &.scrolled {
    background-color: $black-color;
    transition: background-color 0.2s ease;
    z-index: 1;
  }

  .header-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @include flex($align-items: center, $justify-content: space-between);

    .container .nav-menu {
      @include flex($align-items: center, $justify-content: space-between);
      width: 100%;

      .company-name {
        @include flex($align-items: center);
        width: 100px;

        h2 {
          @include text-style(24px, $color: $white-color);
          padding-right: 5px;
          margin: 0;
        }

        small {
          @include text-style(9px, 530, $color: $charcoal-gray-color);
          line-height: 1;
          margin-top: 5px;
        }
      }

      .nav-item {
        @include flex($align-items: center);

        .menu-list {
          display: flex;
          font-size: 16px;
          padding: 0;
          margin: 0;

          .menu-link {
            position: relative;
            padding: 0 10px;
            @include text-style(21px, $color: $white-color);
            transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, border-radius 0.4s;

            &:before,
            &:after {
              content: "";
              position: absolute;
              bottom: -5px;
              height: 2px;
              width: 0;
              background-color: #00BFFF;
              transition: width 0.3s ease;
            }

            &:before {
              left: 10px;
            }

            &:after {
              right: 10px;
            }

            &:hover {

              &::before,
              &::after {
                width: calc(50% - 12px);
              }
            }
          }
        }
      }

      .burger-menu {
        display: none;
        cursor: pointer;

        .burger-icon {
          width: 30px;
          height: 20px;
          position: relative;

          span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $white-color;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
              top: 0px;
            }

            &:nth-child(2) {
              top: 8px;
            }

            &:nth-child(3) {
              top: 16px;
            }
          }
        }
      }
    }
  }
}