main .details {
  .wrapper-content .container {
    &.details-content {
      padding-top: 65px !important;
    }

    .row {
      .col-6 {
        >p {
          @include text-style($font-size-medium, bold, uppercase, $light-blue-color);
        }

        .line {
          @include flex($align-items: center);
          width: 100%;
          margin: 40px 0;

          .line-feature {
            width: 25px;
            height: 2px;
            background-color: #00BFFF;

            &:first-child, &:last-child {
              margin: 0 2px;
            }
          }
        }
        
        h2 {
          @include text-style(36px, 600, $color: $black-color);
        }

        small {
          @include text-style(18px, $color: $light-gray-color);
        }

        .details-item {
          padding-top: 40px;

          .details-item-info {
            @include text-style(12px, $color: $black-color);
            margin: 5px 0 !important;

            img {
              height: 16px !important;
              width: 16px;
              margin: 0 !important;
              margin-right: 10px !important;
            }
          }
        }
      }
    }
  }
}